$c-black = #1C1C1C
$c-white = #FFFFFF
$c-accent = #15B28D
$c-darkblack = #0D1117
$c-accentbrighter = #0DD1A2;

$retina = "(min-resolution: 144dpi), (min-resolution: 1.5dppx)"

$sm = "(min-width: 325px)"
$md = "(min-width: 768px)"
$lg = "(min-width: 1238px)"