.header 
  width 100% 
  padding 19px 20px 22px 
  position fixed 
  top 0
  left 0
  z-index 2
  transition 0.3s background ease
  @media $lg 
    padding 41px 0 

.header--float 
  background alpha($c-black, 80%)

.header--opened
  background alpha($c-black,90%)
  height 100vh 
  @media $lg 
    background transparent 
    height auto 

.header__nav
  display flex 
  flex-direction row 
  flex-wrap wrap
  align-items center
  @media $lg 
    width 1238px 
    margin 0 auto 

.header__logo
  margin-right auto 
  cursor pointer
  @media $lg 
    margin-right 80px
    order -2 

.header__logo svg 
  width 28px 
  @media $lg
    width 193px 

.header__logo-text
  display none 
  @media $lg
    display inline

.header__logo:hover svg 
  fill $c-accentbrighter

.header__order-button
  font-size 14px 
  line-height 16px 
  font-weight 700
  text-transform uppercase 
  display inline-block
  vertical-align top
  padding 7px 15px 
  border 2px solid $c-accent 
  border-radius 2px 
  transition border-color 0.3s ease, background 0.3s ease 
  &:hover 
    border-color $c-accentbrighter
    background $c-accentbrighter
  @media $lg 
    margin-right auto 

.header__menu-button
  width 24px 
  height 14px 
  margin-left auto
  outline none 
  @media $lg 
    display none 

.header--opened .header__menu-icon 
  transform rotate(45deg);

.header__menu-icon 
  position relative
  display block
  width 24px
  height 2px
  background $c-white 
  transition transform 0.3s ease-in-out 0.6s, background 0.3s ease-in-out 0.3s
  &::before 
    content ''
    width 24px
    height 2px 
    background $c-white 
    position absolute 
    top -6px
    right 0
    transition top 0.3s ease, right 0.3s ease
  &::after 
    content ''
    width 16px 
    height 2px
    background $c-white
    position absolute 
    top 6px
    right 0 
    transition top 0.3s ease, right 0.3s ease, transform 0.3s ease 0.3s 

.header--opened .header__menu-icon 
  background transparent 
  &::before 
    top 0
    right 0
  &::after 
    top 0
    right 0
    width 24px
    transform rotate(90deg)

.header__nav-list 
  display none
  position relative
  margin 0
  padding 0
  list-style none 
  width 100% 
  padding-top 50px 
  padding-bottom 17px
  border-bottom 1px solid rgba(255, 255, 255, 0.25)
  margin-bottom 30px
  &::before 
    content ''
    width 20px 
    height 1px
    background rgba(255, 255, 255, 0.25)
    position absolute 
    bottom -1px
    left -20px 
    @media $lg 
      display none 
  &::after
    content ''
    width 20px 
    height 1px
    background rgba(255, 255, 255, 0.25)
    position absolute 
    bottom -1px
    right -20px 
    @media $lg 
      display none 
  @media $lg
    display flex 
    flex-wrap wrap
    order -1
    width auto 
    max-width 664px 
    padding 0
    margin 0
    border none 
    margin-right 47px

.header--opened .header__nav-list 
  display block
  @media $lg
    display flex
  
.header__nav-item 
  margin-bottom 32px
  padding-left 4px
  @media $lg
    margin-bottom 0
    padding-right 40px
    padding-left 0
    position relative
    &::after 
      content ''
      position absolute 
      top 50%
      right 18px 
      transform translateY(-50%)
      width 5px
      height 5px
      background #B0ACAC
      border-radius 50%
    &:last-child::after 
      display none 

.header__nav-item--lg-hidden
  @media $lg 
    display none 

.header__nav-link
  font-size 15px
  line-height 17px 
  text-transform uppercase 
  color $c-white 
  text-decoration none 
  font-weight 500 
  transition color 0.3s ease 
  &:hover 
    color $c-accent 

.header__tel
  text-decoration none 
  color $c-white
  font-size 16px
  line-height 18px
  font-weight 700
  display none
  margin-bottom 20px
  padding-left 4px
  transition color 0.3s ease 
  &:hover 
    color $c-accent 
  @media $lg 
    display block
    width auto 
    margin 0

.header--opened .header__tel 
  display block 
  
.header .header__social 
  display none 
  @media $lg 
    display flex 
    position fixed 
    bottom 16px

.header--opened .header__social 
  display flex 
