.hiw 
  padding-top 135px
  position relative 
  background transparent 
  @media $lg 
    padding-top 146px

.hiw__container 
  padding 0 0 0 20px 
  overflow hidden 
  @media $md 
    width 768px 
    margin 0 auto 
    padding 0 20px 
  @media $lg 
    width 1238px 
    padding 0
  
.hiw__title
  font-size 28px 
  line-height 32px 
  font-weight 500
  padding-bottom 10px
  margin 0 10px 44px 0 
  border-bottom 3px solid $c-accent 
  @media $lg 
    font-size 44px
    line-height 51px
    display inline-block
    vertical-align top 
    margin-left 25px
    padding-right 35px
    margin-bottom 46px

.hiw__list 
  display flex 
  flex-direction row 
  list-style none 
  margin 0 
  padding 0
  counter-reset step
  width 290px 
  transition 0.4s transform ease 
  @media $md 
    margin-bottom 44px
    flex-wrap wrap 
    width 100% 
  @media $lg 
    margin-bottom 27px
  